:root {
  --color-bg: #111B24;
  --color-text: #BCCBD6;
  --color-text-title: #fff;
  --color-elemet-blue: #00EAC7;
  --color-elemet-black-blue: #0F3034;

  --index: calc(1vw + 1vh);

  --font-text: 'Karla', sans-serif;
  --font-title: 'Inter', sans-serif;
  --size-text: calc(var(--index) * .7);
  --size-text-800px: calc(var(--index) * 1);
  --size-text-500px: calc(var(--index) * 1.4);
  --size-title: calc(var(--index) * 2);
}

* {
  font-family: var(--font-text);
  color: var(--color-text);
  font-size: var(--size-text);
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

button {
  all: unset;
}

body {
  background-color: var(--color-bg);
}

.title {
  font-size: var(--size-title);
  font-family: var(--font-title);
  color: var(--color-text-title);
  font-weight: 700;
}

/* BTN */

.btn-blue {
  font-family: var(--font-title);
  font-weight: 500;
  font-size: var(--size-text);
  background-color: var(--color-elemet-blue);
  color: var(--color-elemet-black-blue);
  border-radius: 40px;
  padding: calc(var(--index) * .5) calc(var(--index) * 1);
  cursor: pointer;
  transition: all .5s;
}

.btn-black {
  font-family: var(--font-title);
  font-weight: 500;
  font-size: var(--size-text);
  background-color: var(--color-elemet-black-blue);
  color: var(--color-elemet-blue);
  border-radius: 40px;
  padding: calc(var(--index) * .5) calc(var(--index) * 1);
  cursor: pointer;
  transition: all .5s;
}

.btn-blue:hover {
  box-shadow: 0 0 10px 100px var(--color-elemet-black-blue) inset;
  color: var(--color-elemet-blue);
}

.btn-black:hover {
  box-shadow: 0 0 10px 100px var(--color-elemet-blue) inset;
  color: var(--color-elemet-black-blue);
}

/* CONTAINER */

.container {
  margin: 0 calc(var(--index) * 6);
}

/* NAVBAR */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--index) * .4);
  z-index: 10;
  position: relative;
}

.nav img {
  width: calc(var(--index) * 8);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 16px;
  font-size: var(--size-text);
}

.menu a {
  transition: all .5s;
  position: relative;
}

.menu a::after {
  content: '';
  height: 2px;
  display: block;
  background-color: var(--color-elemet-blue);
  margin-top: -5px;
  transition: all .5s;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.menu a:hover::after {
  margin-top: 2px;
  opacity: 1;
  width: 100%;
}

.menu a:hover {
  color: var(--color-elemet-blue);
}

.toggel, .close {
  display: none;
}

.nav-mob-activ {
  display: none;
  position: absolute;
  width: 100%;
  opacity: 0;
  background-color: #111b24e8;
  height: 100vh;
  transition: all 0.5s;
  z-index: 10;
}

.menu-mob {
  text-align: center;
  background-color: var(--color-bg);
  margin-top: -200px;
  transition: all .5s;
}

.menu-mob-anim {
  margin-top: 0;
}

.menu-mob a {
  display: block;
  padding: 5px 0;
  transition: all 0.5s;
}

.anim-nav::after {
  content: "";
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 2px;
  width: 0;
  transition: all 0.5s;
}

.anim-nav:hover::after {
  width: 100%;
  background-color: var(--color-elemet-blue);
}

.btn-menu-nob {
  border-radius: 0;
}

.btn-menu-nob:hover{
  color: var(--color-elemet-black-blue);
}

.anim-nav a:hover {
  color: var(--color-elemet-blue);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

header {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 98vh;
}

.header-btn {
  display: flex;
  align-items: center;
}

.download {
  color: var(--color-elemet-blue);
  font-size: calc(var(--index) * 1);
  margin-right: 5px;
  transition: all .5s;
}

.header-btn:hover > .download {
  color: var(--color-elemet-black-blue);
}

.header-left-title span {
  font-weight: 300;
  font-size: var(--size-title);
  font-family: var(--font-title);
  color: var(--color-text-title);
}

.header-left-title::after {
  content: "";
  background-color: var(--color-elemet-blue);
  height: 2px;
  width: 60px;
  display: block;
  margin-top: calc(var(--index) * 1.2);
}

.header-left-p {
  margin: calc(var(--index) * 1.2) 0;
  width: 30vw;
}

.header-right img {
  width: calc(var(--index) * 14);
}

@media all and (max-width:800px) {
  * {
    font-size: var(--size-text-800px);
  }
  .btn-black, .btn-blue {
    font-size: var(--size-text-800px);
  }
  .container {
    margin: 0 calc(var(--index) * 2);
  }
  .toggel, .close {
    display: block;
    cursor: pointer;
    color: var(--color-elemet-blue);
    font-size: calc(var(--index) * 2);
    transition: all 0.5s;
  }
  .close {
    display: none;
  }
  .toggel:hover {
    color: var(--color-elemet-black-blue);
  }
  .menu, .btn-menu {
    display: none;
  }
}

@media all and (max-width:500px) {
  * {
    font-size: var(--size-text-500px);
  }
  .btn-black, .btn-blue {
    font-size: var(--size-text-500px);
  }
  .toggel, .close {
    font-size: calc(var(--index) * 2.8);
  }
  .nav img {
    width: calc(var(--index) * 10);
  }
}