:root {
  --color-bg: #111B24;
  --color-text: #BCCBD6;
  --color-text-title: #fff;
  --color-elemet-blue: #00EAC7;
  --color-elemet-black-blue: #0F3034;
  --color-bg-blue: #15242e;

  --index: calc(1vw + 1vh);

  --font-text: 'Karla', sans-serif;
  --font-title: 'Inter', sans-serif;
  --size-text: calc(var(--index) * .7);
  --size-text-800px: calc(var(--index) * 1);
  --size-text-500px: calc(var(--index) * 1.4);
  --size-title: calc(var(--index) * 2);
}

* {
  font-family: var(--font-text);
  color: var(--color-text);
  font-size: var(--size-text);
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

button {
  all: unset;
}

body {
  background-color: var(--color-bg);
}

.title {
  font-size: var(--size-title);
  font-family: var(--font-title);
  color: var(--color-text-title);
  font-weight: 700;
}

/* BTN */

.btn-blue {
  font-family: var(--font-title);
  font-weight: 500;
  font-size: var(--size-text);
  background-color: var(--color-elemet-blue);
  color: var(--color-elemet-black-blue);
  border-radius: 40px;
  padding: calc(var(--index) * .5) calc(var(--index) * 1);
  cursor: pointer;
  transition: all .5s;
}

.btn-black {
  font-family: var(--font-title);
  font-weight: 500;
  font-size: var(--size-text);
  background-color: var(--color-elemet-black-blue);
  color: var(--color-elemet-blue);
  border-radius: 40px;
  padding: calc(var(--index) * .5) calc(var(--index) * 1);
  cursor: pointer;
  transition: all .5s;
}

.btn-blue:hover {
  box-shadow: 0 0 10px 100px var(--color-elemet-black-blue) inset;
  color: var(--color-elemet-blue);
}

.btn-black:hover {
  box-shadow: 0 0 10px 100px var(--color-elemet-blue) inset;
  color: var(--color-elemet-black-blue);
}

/* SCROLL */

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-elemet-blue);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg-blue); 
  border-radius: 5px;
}

/* CONTAINER */

.container {
  margin: 0 calc(var(--index) * 6);
}

/* NAVBAR */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--index) * .4);
  z-index: 10;
  position: relative;
}

.nav img {
  width: calc(var(--index) * 8);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 16px;
  font-size: var(--size-text);
}

.menu a {
  transition: all .5s;
  position: relative;
}

.menu a::after {
  content: '';
  height: 2px;
  display: block;
  background-color: var(--color-elemet-blue);
  margin-top: -5px;
  transition: all .5s;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.menu a:hover::after {
  margin-top: 2px;
  opacity: 1;
  width: 100%;
}

.menu a:hover {
  color: var(--color-elemet-blue);
}

.toggel, .close {
  display: none;
}

.nav-mob-activ {
  display: none;
  position: absolute;
  width: 100%;
  opacity: 0;
  background-color: #111b24e8;
  height: 100vh;
  transition: all 0.5s;
  z-index: 10;
}

.menu-mob {
  text-align: center;
  background-color: var(--color-bg);
  margin-top: -200px;
  transition: all .5s;
}

.menu-mob-anim {
  margin-top: 0;
}

.menu-mob a {
  display: block;
  padding: 5px 0;
  transition: all 0.5s;
}

.anim-nav::after {
  content: "";
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 2px;
  width: 0;
  transition: all 0.5s;
}

.anim-nav:hover::after {
  width: 100%;
  background-color: var(--color-elemet-blue);
}

.btn-menu-nob {
  border-radius: 0;
}

.btn-menu-nob:hover{
  color: var(--color-elemet-black-blue);
}

.anim-nav a:hover {
  color: var(--color-elemet-blue);
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

header {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 98vh;
}

.header-btn {
  display: flex;
  align-items: center;
}

.download {
  color: var(--color-elemet-blue);
  font-size: calc(var(--index) * 1);
  margin-right: 5px;
  transition: all .5s;
}

.header-btn:hover > .download {
  color: var(--color-elemet-black-blue);
}

.header-left-title span {
  font-weight: 300;
  font-size: var(--size-title);
  font-family: var(--font-title);
  color: var(--color-text-title);
}

.header-left-title::after {
  content: "";
  background-color: var(--color-elemet-blue);
  height: 2px;
  width: 60px;
  display: block;
  margin-top: calc(var(--index) * 1.2);
}

.header-left-p {
  margin: calc(var(--index) * 1.2) 0;
  width: 30vw;
}

.header-right img {
  width: calc(var(--index) * 14);
}

/* FEATURED */

.featured {
  background-color: var(--color-bg);
  width: 100%;
  height: 150px;
  position: relative;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  text-align: center;
}

.featured-block {
  background-color: var(--color-bg-blue);
  width: 200px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.featured-shadow {
  height: 200px;
  width: 1500px;
  margin-top: -100px;
  background-color: var(--color-bg-blue);
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  filter: blur(30px);
  position: absolute;
  z-index: 0;
}

.featured-block::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  margin-top: -20px;
  margin-left: 200px;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--color-bg-blue);
}

.featured-block::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 20px solid var(--color-bg-blue);
  display: block;
  margin-left: -20px;
}

.featured-title {
  z-index: 1;
  font-family: var(--font-title);
  color: var(--color-text-title);
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: .8;
  font-size: calc(var(--index) * .5);
}

.featured-logo {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--index) * 2);
}

.margin-left {
  margin-right: 40px;
}

.featured-line {
  height: 2px;
  background-color: var(--color-bg-blue);
  margin-top: calc(var(--index) * 1);
}

.carts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  border: 1px solid #1B2B38;
  background: linear-gradient(180deg, #14202A 0%, rgba(20, 32, 42, 0.00) 100%);
  margin: 0 10px;
  margin-top: calc(var(--index) * 4);
  width: calc(var(--index) * 25);
}

.cart img {
  width: calc(var(--index) * 25);
}

.cart-title {
  color: var(--color-text-title);
  font-family: var(--font-title);
  font-size: calc(var(--index) * 1);
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cart-title span {
  color: var(--color-text-title);
  font-family: var(--font-title);
  font-size: calc(var(--index) * .8);
  font-weight: 300;
  margin-top: 5px;
  margin-left: 5px;
}

.cart-line {
  background-color: var(--color-elemet-blue);
  height: 25px;
  width: 2px;
  margin-right: 10px;
  margin-left: 40px;
}

.cart p {
  margin: 20px 40px;
}

.cart a {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--color-elemet-blue);
  margin-right: 10px;
  margin-bottom: 10px;
}

.cart ion-icon, .bild-text ion-icon {
  color: var(--color-elemet-blue);
  font-size: calc(var(--index) * .9);
}

/* STATISTICS */

.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(var(--index) * 4);
}

.stati {
  text-align: center;
}

.stati h3 {
  font-weight: 700;
  font-size: calc(var(--index) * 1.2);
  color: var(--color-text-title);
  margin-bottom: 10px;
}

.stati h3::after {
  display: block;
  margin-right: auto;
  margin-left: auto;
  content: "";
  background-color: var(--color-elemet-blue);
  height: 2px;
  width: calc(var(--index) * 2);
  margin-top: 10px;
}

.stati-grup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 42%;
}

/* BILD */

.bild {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--index) * 5);
}

.bilds {
  display: flex;
  justify-content: center;
  border: 1px solid #1B2B38;
  background: linear-gradient(180deg, #14202A 0%, rgba(20, 32, 42, 0.00) 100%);
  position: relative;
}

.bild-text p {
  font-size: calc(var(--index) * 1.5);
  color: var(--color-text-title);
  margin-top: 20px;
  margin-right: 30px;
}

.bild-text span {
  font-size: calc(var(--index) * 1.5);
  color: var(--color-text-title);
  font-weight: 700;
}

.bild-line {
  width: 2px;
  height: calc(var(--index) * 4.5);
  background-color: var(--color-elemet-blue);
  margin: 30px 20px;
}

.bild-text a {
  color: var(--color-elemet-blue);
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  align-items: center;
}

.bild-text a ion-icon {
  margin-left: 5px;
}

.bilds img {
  width: calc(var(--index) * 15);
}

/* DRIVE */

.drive {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--index) * 5);
}

.drive-text {
  margin-right: 60px;
}

.drive h2::after {
  content: "";
  display: block;
  background-color: var(--color-elemet-blue);
  width: 80px;
  height: 2px;
  margin-top: 20px;
}

.drive p {
  margin: calc(var(--index) * 1.5) 0;
}

.drive-cart {
  display: flex;
  align-items: center;
  border: 1px solid #1B2B38;
  background: linear-gradient(180deg, #14202A 0%, rgba(20, 32, 42, 0.00) 100%);
  padding: 0 10px;
  width: calc(var(--index) * 20);
  margin: 10px 0;
}

.drive-cart img {
  width: calc(var(--index) * 3);
}

.cart-one {
  opacity: .2;
}

.cart-two {
  opacity: .5;
}

/* COMMUNITY */

.community {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--index) * 4);
}

.community img {
  width: calc(var(--index) * 22);
}

.community-text p {
  margin: 30px 0;
}

.community-text h2::after {
  content: "";
  display: block;
  background-color: var(--color-elemet-blue);
  width: 80px;
  height: 2px;
  margin-top: 20px;
}

/* AZERO */

.azero {
  background-image: url(../img/bg-azero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: calc(var(--index) * 3);
}

.azero-carts {
  padding: calc(var(--index) * 5) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.azero-cart {
  border: 1px solid #1B2B38;
  background: linear-gradient(180deg, #14202A 0%, rgba(20, 32, 42, 0.00) 100%);
  position: relative;
  margin: 0 calc(var(--index) * .3);
  width: calc(var(--index) * 15);
  height: calc(var(--index) * 13);
}

.azero-img {
  height: calc(var(--index) * 4);
  margin-top: calc(var(--index) * .5);
  margin-left: calc(var(--index) * .8);
  position: relative;
  z-index: 1;
}

.azero-bg {
  position: absolute;
  z-index: 0;
  width: calc(var(--index) * 15);
}

.azero-cart h3, .footer-be h3 {
  color: var(--color-text-title);
  font-size: calc(var(--index) * 1);
  font-family: var(--font-title);
  position: relative;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.azero-cart h3::after, .footer-be h3::after {
  content: "";
  background-color: var(--color-elemet-blue);
  width: 2px;
  height: calc(var(--index) * 1);
  display: block;
  position: absolute;
  top: 2px;
  left: -10px;
}

.azero-cart span, .footer-be span {
  color: var(--color-text-title);
  font-size: calc(var(--index) * 1);
  font-weight: 700;
  font-family: var(--font-title);
}

.azero-cart p {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 25px;
}

.azero-cart-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  color: var(--color-elemet-blue);
  background-color: var(--color-elemet-black-blue);
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.azero-cart-btn ion-icon {
  color: var(--color-elemet-blue);
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: calc(var(--index) * 5);
}

.footer a {
  display: block;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-be h3 {
  margin-left: 10px;
}

.footer-be p {
  margin: calc(var(--index) * 1) 0;
}

.footer-social a {
  margin: 0 calc(var(--index) * .5);
}

.footer-input-btn {
  display: flex;
  align-items: baseline;
}

.footer-input-btn input {
  cursor: pointer;
  margin-right: 10px;
  background-color: var(--color-bg);
}

.block {
  margin: 0 calc(var(--index) * .4);
}

.block a {
  margin: calc(var(--index) * .5) 0;
  transition: all .2s;
}

.block a:hover {
  color: var(--color-elemet-blue);
}

.footer-be {
  width: calc(var(--index) * 15);
}

.block p {
  font-family: var(--font-title);
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: .8;
  margin-top: calc(var(--index) * 2);
}

.block p.a-title {
  color: var(--color-text-title);
  font-weight: 500;
  margin-bottom: calc(var(--index) * .5);
  margin-top: 0;
  font-family: var(--font-text);
  text-transform: none;
  letter-spacing: 0;
  opacity: 1;
}

.btn-mail {
  display: flex;
  align-items: center;
  background-color: var(--color-elemet-blue);
  color: var(--color-bg-blue);
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: 500;
  font-family: var(--font-title);
  cursor: pointer;
  margin-left: -10px;
}

.btn-mail ion-icon {
  color: var(--color-bg-blue);
  font-size: calc(var(--index) * .8);
  margin-right: 2px;
}

.footer-input {
  display: flex;
  align-items: center;
}

.footer-input input {
  background-color: var(--color-bg);
  border-style: none;
  border: 1px solid var(--color-elemet-black-blue);
  padding: 4px;
  width: 300px;
  outline: none;
  font-size: calc(var(--index) * .7);
}

.footer-block {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: flex;
  background-color: var(--color-bg);
  border: 1px solid var(--color-elemet-black-blue);
  cursor: pointer;
  border-radius: 3px;
  color: var(--color-bg);
  margin-right: 5px;
}

label ion-icon {
  color: var(--color-bg);
  font-size: calc(var(--index) * .6);
  transition: all .2s;
}

input[type="checkbox"]:checked + label ion-icon{
  color: var(--color-elemet-blue);
}

/* ERROR */

.error {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 12;
  background-color: #111b24e8;
  height: 100vh;
  width: 100vw;
  margin-top: -9px;
}

.error-block {
  position: relative;
  text-align: center;
  padding: calc(var(--index) * 2) calc(var(--index) * 4);
  background-color: var(--color-bg-blue);
  border-radius: 12px;
}

.error h3 {
  color: var(--color-elemet-black-blue);
  font-size: calc(var(--index) * 4);
}

.error p {
  margin: calc(var(--index) * 1) 0;
}

.error-close {
  position: absolute;
  font-size: calc(var(--index) * 1.2);
  right: calc(var(--index) * .2);
  top: calc(var(--index) * .2);
  cursor: pointer;
  color: var(--color-elemet-blue);
}

@media all and (max-width:800px) {
  * {
    font-size: var(--size-text-800px);
  }
  .btn-black, .btn-blue {
    font-size: var(--size-text-800px);
  }
  .container {
    margin: 0 calc(var(--index) * 2);
  }
  .toggel, .close {
    display: block;
    cursor: pointer;
    color: var(--color-elemet-blue);
    font-size: calc(var(--index) * 2);
    transition: all 0.5s;
  }
  .close {
    display: none;
  }
  .toggel:hover {
    color: var(--color-elemet-black-blue);
  }
  .menu, .btn-menu {
    display: none;
  }
  .header {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .header-left {
    text-align: center;
  }
  .header-left-title::after,
  .header-btn,
  .header-left-title,
  .header-left-p {
    margin-left: auto;
    margin-right: auto;
  }
  .header-left-p {
    width: calc(var(--index) * 28);
  }
  .featured-title {
    font-size: calc(var(--index) * .7);
  }
  .carts {
    flex-direction: column;
  }
  .statistics {
    margin-top: calc(var(--index) * 4);
    flex-direction: column;
  }
  .stati-grup {
    width: auto;
    margin-bottom: 40px;
  }
  .stati {
    margin: 0 20px;
  }
  .drive, .community {
    flex-direction: column;
    text-align: center;
    margin-top: calc(var(--index) * 4);
    margin-bottom:  calc(var(--index) * 4);
  }
  .drive h2::after, .community-text h2::after {
    margin-left: auto;
    margin-right: auto;
  }
  .drive-text {
    margin-right: 0;
  }

  .bild {
    display: none;
  }
  .azero-carts {
    flex-direction: column;
  }

  .azero-cart {
    margin: calc(var(--index) * 2) 0;
    width: calc(var(--index) * 25);
    height: calc(var(--index) * 25);
  }

  .azero-bg {
    width: calc(var(--index) * 25);
  }

  .azero {
    background-image: none;
  }

  .azero-img {
    height: calc(var(--index) * 8);
  }

  .azero-cart h3, .footer-be h3 {
    font-size: calc(var(--index) * 1.5);
  }
  
  .azero-cart span, .footer-be span {
    font-size: calc(var(--index) * 1.5);
  }

  .azero-cart h3::after , .footer-be h3::after {
    height: calc(var(--index) * 1.5);
  }

  .footer-block {
    margin-top: calc(var(--index) * 2);
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-be {
    width: auto;
  }

  .footer-input input {
    width: 200px;
  }

  .footer-input {
    justify-content: center;
  }

  .footer-input input {
    font-size: calc(var(--index) * 1);
  }

  .footer-social {
    justify-content: center;
  }

  label ion-icon {
    font-size: calc(var(--index) * .8);
  }

}

@media all and (max-width:500px) {
  * {
    font-size: var(--size-text-500px);
  }
  .btn-black, .btn-blue {
    font-size: var(--size-text-500px);
  }
  .toggel, .close {
    font-size: calc(var(--index) * 2.8);
  }
  .nav img {
    width: calc(var(--index) * 10);
  }
  .cart-title {
    color: var(--color-text-title);
    font-family: var(--font-title);
    font-size: calc(var(--index) * 1.5);
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .cart-title span {
    color: var(--color-text-title);
    font-family: var(--font-title);
    font-size: calc(var(--index) * 1);
    font-weight: 300;
    margin-top: 3px;
    margin-left: 5px;
  }

  .stati h3 {
    font-size: calc(var(--index) * 1.5);
  }

  .footer-social img {
    width: calc(var(--index) * 2);
  }

  .footer-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .footer-input input {
    font-size: calc(var(--index) * 1.5);
  }
}